$black: #000;
$white: #fff;
$blue: #003f96;
$orange: #f60;

$body-bg: $white;
$body-color: $black;
$link-color: $orange;

$input-bg: #208dd8;
$popover-bg: #42affa;

$font-size: 4rem;
$font-size-authors: 1rem;
$primary-color: $blue;
$secondary-color: $orange;

$font-family-sans-serif: "Freight Sans Pro", "Avantgarde", "Roboto", sans-serif;
$font-family-monospace: "Courier", monospace;
